.listaAlumnos{
    display: flex;
    justify-content: center;
}

.tablaAlumnos{
    width: 40%;
}

.listaAlumnos table, .listaAlumnos th, .listaAlumnos td{
    border:1px solid;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
    table-layout: fixed;
}

.listaAlumnos td{
    font-family: 'Kanit';
    font-weight: 300;
}

.tituloAlumnos{
    margin:20px
}

.trAlumnos:hover{
    background-color: #ddd;
}

.columnaID{
    width: 10%;
    overflow: hidden;
}

.columnaNombre{
    width: 40%;
    overflow: hidden;
}

.columnaFechaNacimiento{
    width: 40%;
    overflow: hidden;
}
