body {
  background-color: #FFFFFF;
}

.topnav {
  overflow: hidden;
  background-color: #20232A;
}

.topnav a {
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.navbarBoton {
  padding: 12px 10px;
  color: #e7e7e7;
}

.navbarBoton:hover {
  background-color: #ddd;
  color: black;
}

.tituloPagina{
  padding: 12px 10px;
  background-color: #00A375;
  color: #20232A;
}