.containerTema{
    display: grid;
    grid-template-areas: 'titulo form';
    grid-template-columns: 1fr 2fr;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0px auto;
}

.tituloTema{
    width: 80%;
    height: 100%;
    grid-area: titulo;
}

.formCreacionTema{
    width: 100%;
    grid-area: form;
}

.textoLargoContadorTema{
    display: grid;
    grid-template-areas: 'texto contador';
    grid-template-columns: 3fr 1fr;
    align-items: center;
    margin-bottom: 10px;
}

.textoLargoTema{
    grid-area: texto;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
}

.textoCortoContadorTema{
    display: grid;
    grid-template-areas: 'texto contador';
    grid-template-columns: 1fr 5fr;
    align-items: center;
    margin-bottom: 10px;
}

.textoCortoTema{
    grid-area: texto;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
}

.contadorTema{
    grid-area: contador;
    display: inline-block;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 50px;
}

.contadorTema:empty::before{
    content:"";
    display:inline-block;
    width: 50px;
}

.containerMateriales{
    margin-bottom: 10px;
}

.tablaMateriales, .tablaMateriales th, .tablaMateriales td{
    border:1px solid;
    border-collapse: collapse;
}

.tablaMateriales th {
    padding: 8px;
}

.tablaMateriales td {
    padding: 5px;
}

.celdaInput input {
    padding: 10px;
}

.columnaNombreMaterial {
    width: 50%;
}

.columnaCostoMaterial {
    width: 20%;
}

.columnaStockMaterial {
    width: 20%;
}

.columnaAccionMaterial {
    width: 10%;
}


.inputNombreMaterial{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
}

.inputCostoMaterial{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
}

.inputStockMaterial{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
}

.submitMaterial{
    width: 100%;
}

.deleteMaterial{
    width: 100%;
}

.submitTema{
    display: grid;
    grid-template-areas: 'boton estado';
    grid-template-columns: 1fr 2fr;
}

.submitButtonTema{
    grid-area: boton;
    background-color: #00A375;
    text-align: center;
    color: white;
    font-size: 16px;
    border: none;
    padding: 15px 32px;
    transition-duration: 0.4s;
    border: 2px solid #00A375;
    cursor: pointer;
}

.submitButtonTema:hover{
    background-color: white;
    color: #00A375;
}

.estadoSubidaTema{
    grid-area: estado;
    display:inline-block;
    font-size: 14px;
    margin: 5px;
}
