html, body, #app, #app>div {
    height: 100%
}

.backButtonCrearCurso{
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 15%;
}

.titulo {
    height: 100%;
    width: 80%;
    grid-area: titulo;
}

.textoLargo {
    width: 70%;
    padding: 10px 15px;
    box-sizing: border-box;
    display: inline-block;
}

.textoCorto {
    width: 20%;
    padding: 10px 10px;
    display: inline-block;
}

.container{
    display: grid;
    grid-template-areas: 'titulo form';
    align-items: center;
    width: 50%;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0px auto;
}

.formCreacionCurso{
    width: 100%;
    grid-area: form;
}

.submitButton{
    background-color: #4CAF50;
    text-align: center;
    color: white;
    font-size: 16px;
    border: none;
    padding: 15px 32px;
    transition-duration: 0.4s;
    border: 2px solid #4CAF50;
    cursor: pointer;
    display:inline-block;
}

.submitButton:hover{
    background-color: white;
    color: #4CAF50;
}

.estadoSubida{
    display:inline-block;
    margin-left: 15px;
}

.contador{
    display: inline-block;
    margin-left: 2%;
    width:50px
}

.contador:empty::before {
    content:"";
    display:inline-block;
    width:50px
}

select {
    width: 200px;
    padding: 16px 20px;
}

input, select {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

input[type="date"], input[type="time"]{
    font-size: 20px;
    padding: 10px
}
