html, body, #app, #app>div {
    height: 100%
}

.backButtonCrearCurso{
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 15%;
}

.containerCurso{
    display: grid;
    grid-template-areas: 'titulo form';
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0px auto;
}

.tituloCurso {
    height: 100%;
    width: 80%;
    grid-area: titulo;
}

.formCreacionCurso{
    width: 100%;
    grid-area: form;
}

.textoLargoContadorCurso{
    display: grid;
    grid-template-areas: 'texto contador';
    grid-template-columns: 3fr 1fr;
    align-items: center;
    margin-bottom: 10px;
}

.textoLargoCurso {
    grid-area: texto;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
}

.textoCortoContadorCurso{
    display: grid;
    grid-template-areas: 'texto contador';
    grid-template-columns: 1fr 5fr;
    align-items: center;
    margin-bottom: 10px;
}

.textoCortoCurso {
    grid-area: texto;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
}

.contadorCurso{
    grid-area: contador;
    display: inline-block;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 50px;
}

.contadorCurso:empty::before {
    content:"";
    display:inline-block;
    width:50px
}

.formCreacionCurso select {
    width: 200px;
    padding: 16px 20px;
    margin-bottom: 10px;
}

.formCreacionCurso input, .formCreacionCurso select {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formCreacionCurso input[type="date"], .formCreacionCurso input[type="time"]{
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.submitCurso{
    display: grid;
    grid-template-areas: 'boton estado';
    grid-template-columns: 1fr 1fr;
}

.submitButtonCurso{
    grid-area: boton;
    background-color: #00A375;
    text-align: center;
    color: white;
    font-size: 16px;
    border: none;
    padding: 15px 32px;
    transition-duration: 0.4s;
    border: 2px solid #00A375;
    cursor: pointer;
}

.submitButtonCurso:hover{
    background-color: white;
    color: #00A375;
}

.estadoSubidaCurso{
    grid-area: estado;
    margin: 5px;
    font-size: 13px;
}
