.centered {
    display:grid; 
    grid-template-areas: 'temas cursos';
    grid-template-columns: 1fr 2fr;
    width: 80%;
    margin: auto;
}

.title {
    color: rgb(0, 0, 0);
}

.button {
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.temaLista {
    list-style-position:inside;
    border: 2px solid black;
    border-radius: 10px;
    list-style-type: none;
    margin-bottom: 2px;
    background-color: #BAB6B5;
}

.temaListaAgregar {
    list-style-position:inside;
    border: 2px solid black;
    border-radius: 10px;
    list-style-type: none;
    margin-bottom: 2px;
    text-align: center;
    background-color: #00CC92;
}

.temaLista:hover{
    background-color: #888281;
}

.temaListaAgregar:hover{
    background-color: #00A375;
}

.botonLista {
    color: rgb(36, 36, 36);
    font-size: 25px;
    font-family: 'Kanit';
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.noPadding {
    padding: 0px;
}

.vistaTemas{
    grid-area: temas;
}

.vistaCursos {
    grid-area: cursos;
    margin-top: 50px;
    margin-left: 50px;
}